<h1>About Jersey Hunters</h1>
<p>We are a Winnipeg-based company, established in 2012.</p>

<p>We are passionate about sports memorabilia and want to bring jerseys to everyone and anyone around the Canadian territory.</p>

<p>We know how hard it is to get quality and original NFL jerseys at a decent price. We know the struggle of buying pricey jerseys online and receiving a knockoff in the mail.</p>

<p>We thrive for quality and good prices.</p>