<h1>Contact Us</h1>
<p>We are always open for suggestions and improvement. Our customers opinion is important to us.</p>

 <form>
  <label for="name">Name:</label>
  <input type="text" name="name"><br><br>
  <label for="email">Email:</label>
  <input type="email" name="email"><br><br>
  <label for="phonenumber">Phone number:</label>
  <input type="phonenumber" name="phonenumber"><br><br>
  <label for= "reason">Reason:</label><br><br>
  <textarea id="reason" name="reason" placeholder="Write something here..."></textarea><br>
  <br><input type="submit" value="Submit">
 </form><br><br>

<p>You may also contact us through our different social media sites:</p>
	<ul>
		<li>Twitter</li>
	</ul>
	<ul>
		<li>Facebook</li>
	</ul>

<p>Call us at: 204-444-4374</p>